<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climas</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/weather.js"></script>
</head>

<body>
    <div class="container">
        <div class="item">
            <h2>Cidade: </h2>
            <nav class="navbar">
                <form role="search">
                    <input class="inpt" id="inputValue" type="search" placeholder="Digite o nome da cidade">
                    <button class="bttn" onclick="getWeather()">Pesquisar</button>
                </form>
            </nav>
        </div>
        <div class="table">
            <div class="row">
                <div class="title">Cidade</div>
                <div class="info" id="cidade"></div>
            </div>
            <div class="row">
                <div class="title">Temperatura (Cº)</div>
                <div class="info" id="temp"></div>
            </div>
            <div class="row">
                <div class="title">Sensação Térmica (Cº)</div>
                <div class="info" id="sensterm"></div>
            </div>
            <div class="row">
                <div class="title">Velocidade do Vento (km/h)</div>
                <div class="info" id="vento"></div>
            </div>
            <div class="row">
                <div class="title">Pressão Atmosférica (mb)</div>
                <div class="info" id="pressao"></div>
            </div>
            <div class="row">
                <div class="title">Umidade (%)</div>
                <div class="info" id="umidade"></div>
            </div>
            <div class="row">
                <div class="title">Temp. Máxima (Cº)</div>
                <div class="info" id="tempmax"></div>
            </div>
            <div class="row">
                <div class="title">Temp. Mínima (Cº)</div>
                <div class="info" id="tempmin"></div>
            </div>
        </div>
    </div>
    
</body>

</html>